.cover__link {
  position: relative;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vw / 1.73);
  text-decoration-line: none;
  background: url('../../../images/cover-trains.jpg') no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}

.cover__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity  0.5s ease-out;
  z-index: -1;
}

.cover__link:hover::after {
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .cover__link {
    min-height: calc(100vw / 1.6);
  }
}
  