.place__title {
  font-style: normal;
  grid-area: title;
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  white-space: pre-line;
}

@media (max-width: 768px) {
  .place__title {
    font-size: calc(32px + (42 - 32) * ((100vw - 426px) / (768 - 426)));
    line-height: calc(35px + (46 - 35) * ((100vw - 426px) / (768 - 426)));
  }
  .place .place__title:nth-child(4) {
    white-space: normal;
  }
}

@media (min-width: 320px) and (max-width: 640px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    width: calc(100% - 2*16px);
    margin: 0 auto;
    white-space: normal;
  }
}
