.place__image {
  grid-area: image;
  object-fit: cover;
  width: calc(440px + (460 - 440) * ((100vw - 1025px) / (1280 - 1025)));
}

@media (max-width: 1024px) {
  .place__image {
    width: calc(340px + (440 - 340) * ((100vw - 769px) / (1024 - 769)));
  }
}

@media (max-width: 768px) {
  .place__image {
    width: calc(320px + (340 - 320) * ((100vw - 641px) / (768 - 641)));
  }
}

@media (max-width: 640px) {
  .place__image {
    object-fit: cover;
    width: 100%;
  }
}
