.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto 32px;
  white-space: pre-line;
}
@media (max-width: 768px) {
  .lead__title {
      font-size: calc(40px + (96 - 40) * ((100vw - 426px) / (768 - 426)));
      line-height: calc(44px + (100 - 44) * ((100vw - 426px) / (768 - 426)));
      margin: 0 auto calc(16px + (32 - 16) * ((100vw - 426px) / (768 - 426)));
  }
  }
  @media (min-width: 320px) and (max-width: 425px){
    .lead__title {
        width: calc(100% - 2*16px);
        font-size: 40px;
        line-height: 44px;
        margin: 0 auto 16px;
  }
  }