.cover__link-title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  white-space: pre-line;
  margin: 0 0 32px;
}
@media (max-width: 768px) {
  .cover__link-title {
    font-size: calc(32px + (72 - 32) * ((100vw - 426px) / (768 - 426)));
    line-height: calc(35px + (76 - 35) * ((100vw - 426px) / (768 - 426)));
}
}
@media (min-width: 320px) and (max-width: 425px){
  .cover__link-title {
      font-size: 32px;
      line-height: 35px;
      margin: 0 0 16px;
  }
}